.good {
  color: green;
}

.ok {
  color: #f0ad4e;
}

.bad {
  color: #d44950;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
   }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* RT COPIED STYLES */

body {
  background: #a8d5f9 url("../img/bg-clouds.png") no-repeat center top;
  position: relative;
  font-family: Arial;
}

header {
  background: linear-gradient(to bottom,#499200 0,#499200 25%,#2b7200 100%);
  position: relative;
  z-index: 65530;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 70px;
  margin: 0 auto;
  color: #fff;
  width: 1200px;
  overflow: visible;
}

  .rt-logo {
    width: 147px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 15px;
    left: 10px;
    height: 40px;
    background: transparent url('../img/rtlogo.png') no-repeat 0 0;
    overflow: hidden;
  }

  header a {
    color: #fded00;
    font-weight: bold;
    margin-left: 20px;
  }

  header a:hover {
    color: #fff;
  }

  header .nav-link {
    top: 20px;
    position: relative;
  }

/*MOVIE-LIST*/

#movie-list-page .poster-thumbnail {
  width: 150px;
  height: 200px;
}

.page-title, .add-link {
  text-align: center;
}

  #movie-list-page #movie-options {
    margin-top: 10px;
  }

    #movie-list-page #movie-options li {
      list-style-type: none;
      display: inline-block;
      margin-left: 10px;
    }

  #movie-list-page #movie-preview #preview-poster {
    float: right;
    top: 25px;
  }

  #movie-list-page #movie-preview #preview-info li {
    list-style-type: none;
    margin-left: -25px;
  }

#page-content {
  margin: 50px 150px;
  background-color: white;
}

#movie-list-page .movie {
  padding-left: 50px;
  padding-top: 30px;
  height: 300px;
  width: 350px;
  float: left;
}

  #movie-list-page .movie .poster-thumbnail {
    float: left;
  }

  #movie-list-page .movie .info-box {
    margin-top: 50px;
    margin-left: 120px;
    font-size: 1.25em;
  }

  #movie-list-page .movie .info-box ul {
    list-style-type: none;
  }

  .good-rt-img {
    width: 20px;
    margin-bottom: 10px;
  }
  .bad-rt-img {
    width: 30px;
    margin-bottom: 5px;
  }

/*DISCOVER PAGE*/

#search-container {
  position: relative;
  margin: auto; }
  #search-container h1 {
    text-align: center;
    font-size: 4em;
    line-height: 1em; }
    #search-container h1 small {
      font-size: 0.5em; }
  #search-container #search-box {
    margin: 40px 5px 60px 5px;
    text-align: center; }
    #search-container #search-box #categories {
      margin-right: 5px; }
    #search-container #search-box #search-button {
      margin-left: 5px; }
  #search-container #film-strip {
    background: url("new-film-background2.png");
    height: 500px;
    background-size: 500px 100%; }
    #search-container #film-strip #poster-thumbnail {
      position: absolute;
      height: 292px;
      width: 217px;
      border-radius: 14px;
      margin-top: 104px; }
