<div id="movie-forms" ng-controller="SearchMovieCtrl as searchCtrl" ng-show="wishCtrl.showForm">
  <form name="searchMovie" id="search-form" ng-submit="searchCtrl.search(searchMovie);">
    <label for="title">Title:</label>
    <input type="text" id="title" autofocus='true' ng-model="searchCtrl.movieTitle">
    <button type="submit" ng-click="searchCtrl.searchSubmitted = true" class="btn btn-primary" id="save-movie-btn">Search</button>
    <a href="" id='advanced-toggle' ng-click='searchCtrl.toggleAdvOptions()'>advanced&#9660;</a>
    <br>
    <section id='advanced-options' ng-show='searchCtrl.showAdvOptions'>
      <label for="actor">Actor:</label>
      <input type="text" id="actor" ng-model="searchCtrl.actorName">
      <label for="director">Director:</label>
      <input type="text" id="director" ng-model="searchCtrl.directorName">
      <br>
    </section>
  </form>

  <section id='movie-options' ng-show="searchCtrl.searchSubmitted">
    <p>Which movie do you want to add?</p>
    <ul id='movie-options'>
      <li ng-repeat='option in options|limitTo:10'><a href="" ng-click="searchCtrl.selectOption(option)">{{option.title}}</a></li>
    </ul>
  </section>

  <section id="movie-preview" ng-show="searchCtrl.userChoice.title != null" class="clearfix">
    <aside id="preview-poster" class="col-sm-5">
      <img class="poster" src="{{searchCtrl.userChoice.poster_link}}">
    </aside>
    <div id="preview-info" class="col-sm-6">
      <h2 class='preview-title'><a href="{{searchCtrl.userChoice.rt_link}}">{{searchCtrl.userChoice.title}}</a></h2>
      <button class="btn btn-primary" id="add-movie-btn" ng-click="searchCtrl.addToList(searchCtrl.userChoice, wishCtrl.movies); wishCtrl.showForm = false">Add Movie</button>
      <br>
      <h4>Info</h4>
        <ul>
          <li>Critic Score: {{searchCtrl.userChoice.critics_score}}</li>
          <li>Audience Score: {{searchCtrl.userChoice.audience_score}}</li>
          <li>Release Date: {{searchCtrl.userChoice.release_date | date}}</li>
          <li>Director: {{searchCtrl.userChoice.directors[0].name}}</li>
        </ul>
      <h4>Actors</h4>
        <ul>
          <li ng-repeat="actor in searchCtrl.userChoice.actors | limitTo:2">{{actor.name}}</li>
        </ul>
      <h4>Genres</h4>
        <ul>
          <li ng-repeat="genre in searchCtrl.userChoice.genres | limitTo:2">{{genre.name}}</li>
        </ul>
    </div>
  </section>
</div>
