<form name='discoverMovies' class='form-inline' ng-controller='DiscoverFormController as discFormCtrl' ng-submit='discFormCtrl.discover(discoverMovies)'>
  <p class="browse-form"> I want </p>
  <select class='form-control input-lg' ng-options='genre in discFormCtrl.genres'>
    <option value="">-- choose genre --</option>
  </select>
  <p class="browse-form"> movies that </p>
  <select class='form-control input-lg' ng-options='eval in discFormCtrl.evals'>
    <option value="">-- choose_evaluation --</option>
  </select>
  <button type='submit' class='btn btn-lg btn-primary' id='browse-button'>Search</button>
</form>
<br><br>
