<div class="form-group" id="search-box">
  <form name='discoverMovies' id='discover-form' class='form-inline' ng-submit='discCtrl.discover(chosenEval[0], chosenGenre.id)'>
    <p class="browse-form"> I want </p>
    <select class='form-control input-lg categories' ng-model='chosenGenre' ng-options='genre.name for genre in genres'>
    </select>
    <p class="browse-form"> movies that </p>
    <select class='form-control input-lg categories' ng-model='chosenEval' ng-options='eval[1] for eval in filmetricEvals'>
    </select>
    <button type='submit' class='btn btn-lg btn-primary' id='browse-button'>Search</button>
  </form>
</div>
