<div id="movie-forms" ng-controller="SearchMovieCtrl as searchCtrl">
  <form name="searchMovie" id="search-form' class="form-inline" ng-show="listCtrl.showForm" ng-submit="searchCtrl.search();">
    <label for="title">Title:</label>
    <input type="text" id="title" ng-model="searchCtrl.movieTitle">
    <button type="submit" ng-click="searchCtrl.searchSubmitted = true" class="btn btn-primary" id="save-movie-btn">Search</button>
  </form>

  <section id='movie-options' ng-show="searchCtrl.searchSubmitted">
    <p>Which movie do you want to add?</p>
    <ul id='movie-options'>
      <li ng-repeat='option in searchCtrl.options'><a href="#">{{option.title}}</a></li>
    </ul>
  </section>

  <section id="movie-preview" ng-show="searchCtrl.searchSubmitted" class="clearfix">
    <aside id="preview-poster" class="col-sm-5">
      <img class="poster-thumbnail" src="{{formCtrl.movie.posterLink}}">
    </aside>
    <div id="preview-info" class="col-sm-6">
      <h2>{{formCtrl.movie.title}}</h2>
      <br>
      <h4>Info</h4>
      <ul>
        <li>Critics Score: {{formCtrl.movie.criticsScore}}</li>
        <li>Audience Score: {{formCtrl.movie.audienceScore}}</li>
        <li>Filmetric: {{formCtrl.movie.filmetric}}</li>
        <li>Director: {{formCtrl.movie.directors[0]}}</li>
      </ul>
      <h4>Actors</h4>
      <ul>
        <li ng-repeat="actor in formCtrl.movie.actors">{{actor}}</li>
      </ul>
      <h4>Genres</h4>
      <ul>
        <li ng-repeat="genre in formCtrl.movie.genres">{{genre}}</li>
      </ul>
      <br><br>
      <button type="submit" class="btn btn-primary" id="save-movie-btn">Save Movie</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </section>

  <!--<form name="addMovie" ng-show="searchCtrl.searchSubmitted" ng-controller="AddMovieCtrl as addCtrl" ng-submit="addCtrl.addToList()">-->
    <!--<ul>-->
      <!--<li ng-repeat='option in searchCtrl.options'>{{option.title}}</li>-->
    <!--</ul>-->
    <!--[><movie-preview></movie-preview><]-->
  <!--</form>-->
</div>

