<movie-display id='{{movieCtrl.movie.title}}' ng-class='{"hidden": visible == false, "visible": visible == true}'></movie-display>
<div class="movie-in-list">
  <a href="" ng-click='listCtrl.showMovie(m)'><img alt="poster" class="poster-thumbnail" ng-src="{{m.poster_link}}"></a>
  <div class="info-box">
    <ul>
      <li><img alt="critic image" class="{{listCtrl.isGoodImg(m.critics_score)}}" ng-src="{{listCtrl.criticsImg(m.critics_score)}}"> {{m.critics_score}}%</li>
      <li><img alt="audience image" class="{{listCtrl.isGoodImg(m.audience_score)}}" ng-src="{{listCtrl.audienceImg(m.audience_score)}}"> {{m.audience_score}}%</li>
      <li>Filmetric: <span class="{{listCtrl.calcQuality(m)}}">{{m.filmetric}}</span></li>
    </ul>
  </div>
</div>
