<div class="movie">
  <a href="{{m.rt_link}}"><img alt="poster" class="poster-thumbnail" ng-src="{{m.poster_link}}"></a>
  <div class="info-box">
    <ul>
      <li><img alt="critic image" class="{{listCtrl.isGoodImg(m.critics_score)}}" src="{{listCtrl.criticsImg(m.critics_score)}}"> {{m.critics_score}}%</li>
      <li><img alt="audience image" class="{{listCtrl.isGoodImg(m.audience_score)}}" src="{{listCtrl.audienceImg(m.audience_score)}}"> {{m.audience_score}}%</li>
      <li>Filmetric: <span class="{{listCtrl.calcQuality(m)}}">{{m.filmetric}}</span></li>
    </ul>
  </div>
</div>
